//Overrides:
.DraftEditor-editorContainer {
  border: 1px solid #ccc;
  padding: 10px;
}
.superFancyBlockquote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}
